$cider-bg: #fafafa;
$header-height: 161px;

.cider {
  width: 100%;
  background: darken($cider-bg, 4%);
  padding-top: $header-height + 44px;

  @media (min-width: 768px) {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 300px;
    height: 100%;
  }

  &__header {
      padding: 15px 10px;
      box-sizing: border-box;
      display: block;
      position: absolute;
      height: $header-height;
      bottom: calc(100% - #{$header-height} - 44px);
      transition: all 300ms ease-in-out;
      width: 100%;
    }

    &__title { margin: 10px 0 10px; }
    &__content { margin: 0; }
}

.new .cider {
  padding-top: 44px;
  transition: padding 500ms ease-in-out;
}

.new .cider__header {
  bottom: 230px;
  transition: all 500ms ease-in-out;
}

.new .cider__nav {
  transition: transform 550ms ease-in-out;
  transform: translateY(300%);
}

.new .hero {
  bottom: 3%;
  left: 9px;
  transform: scale(0.55);
  transition: all 500ms ease-in-out;
}
